
.dwarv-1.sprite-1 {
	background: url('dwarves.png') no-repeat 0px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-2 {
	background: url('dwarves.png') no-repeat -100px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-3 {
	background: url('dwarves.png') no-repeat -200px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-4 {
	background: url('dwarves.png') no-repeat -300px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-5 {
	background: url('dwarves.png') no-repeat -400px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-6 {
	background: url('dwarves.png') no-repeat -500px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-7 {
	background: url('dwarves.png') no-repeat -600px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-8 {
	background: url('dwarves.png') no-repeat -700px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-9 {
	background: url('dwarves.png') no-repeat -800px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-10 {
	background: url('dwarves.png') no-repeat -900px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-1.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px 0px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-2.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -80px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-3.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -160px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-4.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -240px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-5.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -320px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-6.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -400px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-7.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -480px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-8.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -560px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-9.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -640px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-10.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -720px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-11.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -800px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-1 {
	background: url('dwarves.png') no-repeat 0px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-2 {
	background: url('dwarves.png') no-repeat -100px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-3 {
	background: url('dwarves.png') no-repeat -200px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-4 {
	background: url('dwarves.png') no-repeat -300px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-5 {
	background: url('dwarves.png') no-repeat -400px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-6 {
	background: url('dwarves.png') no-repeat -500px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-7 {
	background: url('dwarves.png') no-repeat -600px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-8 {
	background: url('dwarves.png') no-repeat -700px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-9 {
	background: url('dwarves.png') no-repeat -800px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-10 {
	background: url('dwarves.png') no-repeat -900px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-11 {
	background: url('dwarves.png') no-repeat -1000px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-12 {
	background: url('dwarves.png') no-repeat -1100px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-13 {
	background: url('dwarves.png') no-repeat -1200px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-14 {
	background: url('dwarves.png') no-repeat -1300px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-15 {
	background: url('dwarves.png') no-repeat -1400px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-16 {
	background: url('dwarves.png') no-repeat -1500px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-17 {
	background: url('dwarves.png') no-repeat -1600px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-18 {
	background: url('dwarves.png') no-repeat -1700px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-19 {
	background: url('dwarves.png') no-repeat -1800px -880px;
	width: 100px;
	height: 80px;
}


.dwarv-12.sprite-20 {
	background: url('dwarves.png') no-repeat -1900px -880px;
	width: 100px;
	height: 80px;
}

